pandas>=1.5.3
numpy>=1.23.5
scikit-learn>=1.2.2
xgboost>=1.7.5
beautifulsoup4>=4.12.2
requests>=2.31.0
nltk>=3.8.1
schedule>=1.2.0
python-dotenv>=1.0.0
spacy>=3.5.3
geopy>=2.3.0
newspaper3k>=0.2.8
joblib>=1.2.0
matplotlib>=3.7.1
seaborn>=0.12.2
tqdm>=4.65.0 